# Remove later. See:
# https://gist.github.com/cobyism/4730490
_site/

# R project, history, etc.
.Rproj.user
.Rhistory
.RData
.Rprofile

# knitr caches will always be ignored.
# cached _files/ directories in the project root will be ignored, but will NOT
# be ignored in the rendered output.
*_cache/
*_files/
# !_site/*_files

# ignore image sources that make it into _site
# _site/**/*.psd
# _site/**/*.key

# Unfinished lessons
Untitled*

# development notes
# _dev/

# OSX Stuff
.gitconfig.local
.DS_Store*
._*
.Trashes
