/*
add the following line to in_header.html to include fonts in <head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  /*src: url(https://fonts.googleapis.com/css?family=Open+Sans') format('truetype');*/
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  /*src: url(fonts/OpenSansBold.ttf) format('truetype');*/
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  /*src: url(fonts/OpenSansItalic.ttf) format('truetype');*/
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  /*src: url(fonts/OpenSansBoldItalic.ttf) format('truetype');*/
}

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  color: #404040;
  position: relative;
  background: #FFF;
  margin: 0;
  padding: 0;
}
p {
  line-height: 1.6;
  margin: 20px 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  text-decoration: none;
  color: #337ab7;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: #337ab7;
}
blockquote {
  color: #808080;
  font-style: italic;
}
blockquote p:first-child {
  margin-top: 0;
}
pre {
  font-size: 0.9em;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
h1, .h1 {
  font-size: 40px;
}
h2, .h2 {
  font-size: 34px;
}
h3, .h3 {
  font-size: 28px;
}
h4, .h4 {
  font-size: 22px;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 26px;
}
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 20px;
}

/* Fixes the issue when scroll bar isn't present, entire page shifts. */
/* The fix causes a scroll bar to always be present, even when unnecessary*/
html {
  overflow-y: scroll;
}

nav, .nav {
  font-family: "Oswald","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif,serif;
  position: relative;
}

navbar-brand, .navbar-brand {
  font-family: "Oswald","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif,serif;
  font-weight: 700;
  font-size: 38px;
}



.footer {
  font-size: 0.8em;
  margin: 30px 0 10px;
  padding-top: 10px;
  border-top: 1px #eee solid;
  text-align: center;
}
